.TopTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.welcome-text{
    line-height: 0px;

}

.welcome-text p{
    font-size: 13px;
    color: var(--gray);
}