.sign-in-container{
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(61, 0, 166, 0.148) 0px 10px 50px;
  background-color: #ffffffd6;
}

.sign-in-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: none;
}

.sign-in-form h1{
  padding: 0;
  line-height: 0;
  font-size: 26px;
  color: rgb(33, 33, 33);
  padding-bottom: 0.8rem;
}

.sign-in-form input {
  background-color : rgba(255, 255, 255, 0.657); 
  width: auto;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 13px;
}
.form-box{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-box span{
font-size: 12px;}


.Login-button {
align-items: center;
background: linear-gradient(
  106.37deg,
  #ac72fc 29.63%,
  #c075f5
90.85%);
border-style: none;
box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
color: #fff;
cursor: pointer;
display: flex;
justify-content: center;
font-family: 'montserrat';
margin: 0;
padding: 12px ;
text-align: center;
text-transform: none;
transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
border-radius: 2rem;
font-size: 14px;
font-weight: 500;
margin-top: 1rem;
width: 100%;
}




